.Header{
    border: 1px black solid;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3e3c3c;
    margin-bottom: 2px;
    font-size: 20px;
}
.Link{
    text-decoration: none;
    color: white;
}
.Link:hover{
    color: red;
}

